* {
    padding: 2px;
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separator {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

.container, .row, .entercon {
    display: flex;
    justify-content: center;
}

.row {
    justify-content: space-evenly;
}

#calculate {
    flex-grow: 1;
}

.display {
    height: 20px;
}

.calculator {
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
    margin: 25px;
    padding: 15px;
    width: 145px;
    height: 250px;
    filter: drop-shadow(3px 5px 4px black);
    box-shadow: 1px 1px 0px grey;
}
.solutions, .instructions {
    width: 250px;
    background-color: grey;
    border-radius: 10%;
    box-shadow: 3px 3px 0px rgb(78, 78, 78);
}

button {
    padding: 3px 6px;
    background-color: rgb(62, 72, 80);
    height: 26px;
    width: 20px;
    color: bisque;
    border-radius: 35%;
    margin: 2px;
    filter: drop-shadow(1px 2px 2px black);
    border: solid grey 1px;
}

button:active {
    background-color: rgb(77, 77, 77);
    box-shadow: 0px 0px 0px black ;
}

#calculate {
    border-radius: 20px;
    height: auto;
    width: auto;
    box-shadow: 1px 2px 2px black;
}

#calculate:active {
    background-color: rgb(77, 77, 77);
    box-shadow: 0px 0px 0px black ;
}

.display {
    margin-bottom: 20px;
    background-color: grey;
    border-radius: 20px;
    box-shadow: 1px 2px rgb(95, 95, 95);
}

.row {
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
}

#operator, .clear {
    color: rgb(209, 97, 52);
}

.entercon {
    border: none;
}

h4 {
    text-align: center;
}

li {
    margin: 10px;
}

.instructions {
    height: 320px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: rgb(99, 98, 98);
    text-align: center;
}